<nav class="navbar navbar-light bg-success bg-opacity-25" style="justify-content: space-around;">
  <!-- <form class="form-inline" > -->
    <button routerLink="" class="btn btn-outline-success" style="margin:10px;" type="button">INICIO</button>
    <button routerLink="seccion1" class="btn btn-sm btn-outline-secondary" type="button" style="margin:10px;">SECCION 1</button>
    <button routerLink="seccion2" class="btn btn-sm btn-outline-secondary" type="button" style="margin:10px;">SECCION 2</button>
    <button routerLink="seccion3" class="btn btn-sm btn-outline-secondary" type="button" style="margin:10px;">SECCION 3</button>
    <button routerLink="/login" class="btn btn-sm btn-outline-danger" type="button" style="margin:10px;">LOGIN</button>
  <!-- </form> -->
</nav>
