<br>
<h3>Listado de Tareas</h3>
<div  style="width:75%">
<table class="table table-bordered table-striped">
<thead>
<tr class="filters">
<th>id</th>
<th>nombre</th>
<th>estado
    <select >
        <option value="Todas">Todas</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Realizada">Realizada</option>
    </select>
</th>
</tr>
</thead>
<tbody>
<tr>
    <td></td>  <!--id tarea -->
    <td></td>  <!--nombre tarea -->
    <td></td>  <!--estado tarea -->
    <td><button class="btn btn-danger">Finalizar</button></td>  <!--Boton finalizar Tarea -->
</tr>
</tbody>
</table>

<h4>Total Pendientes:</h4>
<h4>Total Realizadas:</h4>
</div>
