<!-- HTML del componente header -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <h2 [style.color]="'orange'">Examen 2Eval Angular 2023</h2>

  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tareas">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/panelTareas">Panel</a>
      </li>
  </ul>
</nav>
