<div class="card-group">
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/steam.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras de vapor">
    <div class="card-body">
      <h5 class="card-title">SUB-SECCION 1</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <button class="btn btn-success" style="width: 150px;">VER</button>
    </div>
  </div>
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/diesel.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras diesel">
    <div class="card-body">
      <h5 class="card-title">SUB-SECCION 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <a href="#" class="btn btn-success" style="width: 150px;">VER</a>
    </div>
  </div>
  <div class="card" style="border:2px solid green">
    <img src="../../../assets/electric.jpg" class="card-img-top" style="height: 230px;" alt="Locomotoras elécticas">
    <div class="card-body">
      <h5 class="card-title">SUB-SECCION 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="card-footer" style="text-align: center;">
      <a href="#" class="btn btn-success" style="width: 150px;">VER</a>
    </div>
  </div>
</div>

